<% layout('./layouts/boilerplate.ejs') -%>
<body>
    <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-1 g-4">
        <% for (listing of allListings) { %>
        <a class="title text-decoration-none text-dark"
           href="/listings/<%= listing._id %>">
            <div class="card h-100">
                <div class="img-container">
                    <img src="<%= listing.image.url %>"
                         class="card-img-top img-fluid object-fit-cover listingImg"
                         alt="Bookmynest">
                </div>
                <div class="card-img-overlay">
                    <i class="fa-solid fa-heart position-absolute top-0 end-0 mx-3 my-3"></i>
                </div>
                <div class="card-body p-2">
                    <h5 class="card-title mb-1 fw-normal">
                        <%= listing.title %>
                    </h5>
                    <p class="card-text mb-1 text-muted">
                        <strong>₹<%= listing.price.toLocaleString("en-IN") %></strong> per night
                    </p>
                    <p class="card-text mb-0">
                        <span><%= listing.location %></span>, <span><%= listing.country %></span>
                    </p>
                </div>
            </div>
        </a>
        <% } %>
    </div>
</body>
